<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
<link rel="stylesheet" href="index.css">
<a href="https://mmf.bsu.by/ru/raspisanie-zanyatij/dnevnoe-otdelenie/3-kurs/2-gruppa/">Table</a>
<div id="table">
	<p>week: <b>{{week}}</b> <button v-on:click="week = oposite(week)">Change week</button></p>
	<p>group: <b>{{group}}</b> <button v-on:click="group = oposite(group)">Change group</button></p>
	<input v-model.trim="search" placeholder="поиск">
	<table>
		<thead>
			<th>day</th>
			<th>time</th>
			<th>week/gr</th>
			<th>subject</th>
			<th>teacher</th>
			<th>type</th>
			<th>lectur_hall</th>
			<th>other</th>
		</thead>
		<tbody>
			<template v-for="value, day in data">
				<template v-for="objs, time, ind in value">
					<tr v-bind:class="{ current: is_current(time, day) }" v-for="obj, key in objs"
						v-if="is_seen(obj)">
						<td v-bind:class="{ active: is_searched(day)} " v-if="is_seen_day(value, obj)"
							:rowspan="nested_len(value, obj)">{{day}}</td>
						<td v-bind:class="{ active: is_searched(time) }" v-if="is_seen_time(objs, obj)"
							:rowspan="calc(objs)"> {{time}}</td>
						<td v-bind:class="{ active: is_searched(obj.week + obj.group) }">{{obj.week}} {{obj.group}}</td>
						<td v-bind:class="{ active: is_searched(obj.subject) }">{{obj.subject}}</td>
						<td v-bind:class="{ active: is_searched(obj.teacher) }">{{obj.teacher}}</td>
						<td v-bind:class="{ active: is_searched(obj.type) }">{{obj.type}}</td>
						<td v-bind:class="{ active: is_searched(obj.lecture_hall) }">{{obj.lecture_hall}}</td>
						<td>
							<ul>
								<li v-for="item in obj.other">
									<a v-if="is_link(item)" :href="item[0]">{{item[1]}}</a>
									<b v-if="!is_link(item)">{{item}}</b>
								</li>
							</ul>
						</td>
					</tr>
				</template>
			</template>
			</tr>
		</tbody>
	</table>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="index.js"></script>